p.tip {
    border-left-color: #f66;
  }
  p.tip:before {
    content: "!";
    background-color: #f66;
  }

img[alt="rh-main"] {
  height: 50px;
  position: left;
}

img[alt="sap-main"] {
  height: 50px;
  position: right;
}

img[alt="rh-sap-side"] {
  height: 50px;
  padding-left: 30px;
}

img[alt="e2e-infra-layout"] {
  height: 400px;
  position: left;
}

img[alt="e2e-tower-full-workflow"] {
  position: left;
}

img[alt="e2e-tower-workflow-gif"] {
  position: left;
  height: 600px;
}

img[alt="e2e-tower-workflow-credentials-gif"] {
  position: left;
  height: 600px;
}

img[alt="e2e-tower-workflow-inventories-gif"] {
  position: left;
  height: 600px;
}

img[alt="e2e-tower-workflow-projects-gif"] {
    position: left;
    height: 600px;
  }

img[alt="e2e-tower-workflow-templates-gif"] {
    position: left;
    height: 600px;
}

img[alt="e2e-tower-workflow-review-gif"] {
  position: left;
  height: 600px;
}

img[alt="project-template-role-gif"] {
  position: left;
  height: 600px;
}

img[alt="inventory-variables-gif"] {
  position: left;
  height: 600px;
}

img[alt="job-templates-gif"] {
  position: left;
  height: 600px;
}

img[alt="tower-workflow-final-gif"] {
  position: left;
  height: 600px;
}

img[alt="smart-infra-layout"] {
  position: left;
  height: 400px;
}

img[alt="rhpds-catalog"] {
  position: left;
  height: 400px;
}

img[alt="rhpds-submit"] {
  position: left;
  height: 300px;
}

img[alt="remove-widget"] {
  position: left;
  height: 200px;
}

img[alt="add-widget"] {
  position: right;
  height: 200px;
}

img[alt="sat-dasboard"] {
  position: left;
  height: 400px;
}

img[alt="smart-tower-workflow"] {
  position: left;
  height: 200px;
}

img[alt="smart-tower-workflowd"] {
  position: left;
  height: 300px;
}

img[alt="smart-insights-client-update"] {
  position: left;
  height: 300px;
}

img[alt="smart-insights-client-gif"] {
  position: left;
  height: 300px;
}

img[alt="smart-errata-list"] {
  position: left;
  height: 300px;
}

img[alt="smart-errata-apply"] {
  position: left;
  height: 400px;
}

img[alt="smart-insights"] {
  position: left;
  height: 300px;
}

img[alt="smart-insights-actions"] {
  position: left;
  height: 400px;
}
